@charset "UTF-8";

:root {
  --dark-blue: #1f3251;
  --grey: #68778d;
  --light-blue: #d6e2f0;
  --white: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: clamp(1.25rem, 0.4464vw + 1.1607rem, 1.5625rem);
  line-height: 1.2;
  color: var(--dark-blue);
}
p {
  font-size: clamp(0.8rem, 0.2857vw + 0.7429rem, 1rem);
  font-weight: 400;
  letter-spacing: .0125rem;
  color: var(--grey);
  line-height: 1.4;
}

.font-Ou {
  font-family: "Outfit", sans-serif;
}
/* ━━━━━━━━━━━━━━━━━━━━ */
body {
  background: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card {
  padding: clamp(1rem, 0.3571vw + 0.9286rem, 1.25rem);
  background: var(--white);
  max-width: 320px;
  width: 100%;
  border-radius: 18px;
  box-sizing: border-box;
}

.card-inner {
  border-radius: 16px;
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
  margin-block-end: 24px;
}
.card-image img {
  width: 100%;
  display: block;
}

.card-content {
  text-align: center;
  padding: 0 clamp(1rem, 0.3571vw + 0.9286rem, 1.25rem) clamp(0.64rem, 0.2286vw + 0.5943rem, 0.8rem);
}
